.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  
  .card {
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 2px solid  rgb(156, 93, 127);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:  rgba(156, 93, 127, 0.667);
    text-align: center black;
    box-sizing: border-box;
  }
  
  .card iframe {
    width: 100%;
    border: none;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .card p {
    color: black;
    margin: 0;
  }


