.Menu {
    display: flex;
    justify-content: space-around;
    background-color: rgb(156, 93, 127);
    padding: 20px;
  }
  
  .Menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 50px;
  }
  
  .Menu a:hover {
    color: black;
  }