.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(156, 93, 127);
  padding: 10px 20px;
}

.Navbar h1 {
  margin: 0;
  font-size: 1.7rem;
  color: black;
  font-weight: bold;
}